@import "~bootstrap/scss/bootstrap.scss";

.counter-box {
    background-color: black;
}

.counter-box div {
    padding: 10px;
    margin: 7px;
    border: 3px solid #202020;
    border-radius: 15px;
}